#nav-bar {

  position: fixed;
  z-index: 1;

  width: 100vw;
  height: 80px;

  padding: 0px 2em;

  color: var(--txt-color);
  background-color: var(--bg-color);

}

#nav-bar .logo {

  float: left;

  margin-top: 16px;
  margin-bottom: 16px;

  margin-right: 16px;

  height: 48px;

}

#nav-bar .header {

  float: left;

  line-height: 80px;
  font-size: 3em;

}