.new-tweet {
  transition: all 0.3s;
  overflow: hidden;
}

.new-tweet h2 {

  margin-top: 0;

  border-bottom: 1px solid var(--txt-color);

  color: var(--txt-color);
}

.new-tweet textarea {

  display: block;
  width: 100%;

  margin-bottom: 8px;

  padding: 0.5em;

  resize: none;

  color: hsl(var(--txt-color-dark));
  background-color: hsla(var(--bg-color-light), 0.9);

  box-shadow: inset var(--shadow);
}

.new-tweet input[type=submit] {

  margin-right: 8px;

  background: hsl(var(--bg-color-light), 0.8);

  border: 0;
  border-radius: 4px;

  font-size: 1.1em;

}

.new-tweet input[type=submit]:hover {


  background: hsl(var(--bg-color-light), 1);

}

.new-tweet input[type=submit]:active {

  background: hsl(var(--bg-color), 1);

}

.new-tweet .validation {

  display: none;

}

.new-tweet .validation-error {

  display: inline-block;

  position: absolute;
  bottom: 8px;

  color: rgb(255, 32, 32);
  font-style: italic;
  font-weight: bold;


}

.new-tweet .counter {

  display: inline-block;
  position: absolute;

  right: 8px;
  bottom: 8px;

}

.counter-invalid {

  color: rgb(255, 32, 32);
  font-size: 110%;
  font-style: italic;
  font-weight: bold;

}

.closed {
  opacity: 0;
  font-size: 0;
  margin-bottom: calc(-1rem + -3px);
}