.new-tweet {
  transition: all 0.3s;
  overflow: hidden;
}

.new-tweet h2 {

  margin-top: 0;

  border-bottom: 1px solid var(--txt-color);

  color: var(--txt-color);
}

.new-tweet textarea {

  display: block;
  width: 100%;

  margin-bottom: 8px;

  padding: 0.5em;

  resize: none;

}

.new-tweet input[type=submit] {

  margin-right: 8px;

}

.new-tweet .validation {

  display: none;

}

.new-tweet .validation-error {

  display: inline-block;

  position: absolute;
  bottom: 8px;

  color: red;
  font-size: 110%;
  font-style: italic;
  font-weight: bold;


}

.new-tweet .counter {

  display: inline-block;
  position: absolute;

  right: 8px;
  bottom: 8px;

}

.counter-invalid {

  color: red;
  font-size: 110%;
  font-style: italic;
  font-weight: bold;

}

.closed {
  opacity: 0;
  font-size: 0;
  margin-bottom: calc(-1rem + -3px);
}