/* .new-tweet {

  position: relative;

  border: 1px solid grey;
  border-radius: 4px;
  background-color: lightgrey;

  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-bottom: 1em;

} */

.new-tweet h2 {

  margin-top: 0;
  border-bottom: 1px solid black;

}

.new-tweet textarea {

  display: block;
  width: 100%;

  margin-bottom: 8px;

  padding: 0.5em;

  resize: none;

}

.new-tweet .counter {

  display: inline-block;
  position: absolute;

  right: 8px;
  bottom: 8px;

}

.counter-invalid {
  color: red;

  font-size: 110%;
  font-style: italic;
  font-weight: bold;
}