.tweet {
  opacity: 0.85;

}

.tweet:hover {
  opacity: 1;
}

.tweet header {
  position: relative;
  width: calc(100% + 1em);
  height: 64px;

  border-radius: 4px 4px 0 0;

  margin-top: -0.5em;
  margin-right: -0.5em;
  margin-left: -0.5em;

  padding: 0.5em 0.5em 0.5em 0.5em;

  background-color: hsla(var(--bg-color), 0.7);

  /* border-bottom: 1px solid black; */

}

.tweet .avatar {
  display: inline-block;
  width: auto;
  height: 100%;

  /* border: 1px solid black; */
  border-radius: 50%;

  margin-right: 16px;

}

.tweet header h2 {
  display: inline-block;

  position: relative;
  bottom: 8px;

  margin-top: 0;
  margin-bottom: 0;

}

.tweet .handle {

  display: inline-block;

  position: absolute;
  top: 0px;
  right: 8px;

  line-height: 2rem;

  color: var(--txt-color);

}

.tweet section {

  padding: 8px;
  word-wrap: break-word;

  font-size: 1.2em;

  color: hsl(var(--txt-color-dark));
  background-color: hsla(var(--bg-color-light), 0.7);

}
.tweet footer {

  margin-right: -0.5em;
  margin-left: -0.5em;
  margin-bottom: -0.5em;

  padding: 0.5em;

  /* border-top: 1px solid black; */

  font-size: 90%;

  background-color: hsla(var(--bg-color), 0.7);

}